{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"pluginSearchDirs": ["."],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{ "files": "tests/*.test.js", "options": { "printWidth": 120 } }
	]
}
